* {
    box-sizing: border-box;
}

body {
    background-color: white;
	
    font-family: Helvetica, sans-serif;
	background: url("../images/punto2.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.naslov
{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: white;
	position: relative;
	border: 3px solid white;
	background-color: #444;
	top: 5%;
	width:80%;
	margin: 0 auto;
	right: 0;
	left: 0;
	border-radius:15px;
}


.flip-box {
  background-color: transparent;
  width: 512px;
  height:220px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 0 auto;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  background-image: url("../astra.jpg");
  background-size: cover;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
  background-image: url("../punto2.jpg");
  background-size: cover;

}